
/*div {*/
/*    border: 5px solid black;*/
/*}*/


section{
    display: flex;
    align-items: center;
    justify-content: center;
    /*visibility: hidden;*/
}

section:hover{
    border: 1px dashed red;
    /*visibility: visible;*/
}


div.pessoa{
    display: flex;
    border-radius: 10px;
    border: 2px solid black;
    height: 100%;
    margin: 20px;
}




div.pessoa img{
    width: 100px;
    height: 100px;
}


div.pessoa div{
    flex: 1;
}

div.pessoa div:first-child{
    margin-left: 10px;
}
